body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header-top {
  width: 100%; 
  margin-bottom: 25px; 
  font-size: 18px;
}
nav {
  background-color:#2E4272;
  padding:0px !important;
}
nav ul {
  padding-left:30px !important;
}
nav.navbar ul li a {
  color:#fff !important;
  transition-duration:0.5s;
  display:block;
}
nav.navbar ul li a:hover , .active {
  background-color:#117a8b;
  transition-duration:0.5s;
}
footer {
  position: relative;
  bottom:0;
  width:100%;
  background-color:#2E4272;
  margin-top:50px;
}
form {
  border:1px solid #ccc; padding:20px;border-radius:5px;margin-bottom:25px;background:#fff;
}
