<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<title>OBSS-Book Portal</title>
<style>
	nav.navbar ul li a {
		color:#fff;
		transition-duration:0.5s;
		display:block;
	}
	nav.navbar ul li a:hover , .active {
		background-color:#117a8b;
		transition-duration:0.5s;
	}
	footer {
		position:fixed;
		bottom:0;
		width:100%;
		background-color:#2E4272;
		margin-top:50px;
	}
</style>
</head>
<body style="background-image:url('http://maltepeetkinlik.com/img/geometry.png')">
	<header>
		<div class="container-fluid">
			<div class="row"> 
				<div style="width: 100%; margin-bottom: 25px; font-size: 18px;" class="header-top">
					<nav style="background-color:#2E4272; padding: 0; padding-left:30px;" class="navbar navbar-expand-sm">
						<ul class="navbar-nav">
							<li><a style="padding:15px;" class="nav-link" href="/home">Home</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/books">Books</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/authors">Authors</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/users">Users</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/favourities">My Favourities</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/wishlists">Wish-List</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/login">Login</a></li>
							<li><a style="padding:15px;" class="nav-link" href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div style="margin-bottom:100px;" class="container">
		<table style="text-align:Center;background:#fff;" class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Book Name</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="favouritie : ${favourities}">
					<tr>
						<td th:text="${favouritie.book_name}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	
    <footer class="py-3">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
    </footer>

</body>
</html>